[project]
	description = Linux-based partitioning hypervisor
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Maxin B. John (maxinbjohn)
[access "refs/for/refs/*"]
	read = group user/Maxin B. John (maxinbjohn)
	push = group user/Maxin B. John (maxinbjohn)
	label-Code-Review = -2..+2 group user/Maxin B. John (maxinbjohn)
	label-Verified = -1..+1 group user/Maxin B. John (maxinbjohn)
	rebase = group user/Maxin B. John (maxinbjohn)
	removeReviewer = group user/Maxin B. John (maxinbjohn)
	submit = group user/Maxin B. John (maxinbjohn)
[access "refs/heads/*"]
	read = group user/Maxin B. John (maxinbjohn)
	create = group user/Maxin B. John (maxinbjohn)
	push = +force group user/Maxin B. John (maxinbjohn)
	pushMerge = group user/Maxin B. John (maxinbjohn)
[access "refs/tags/*"]
	push = +force group user/Maxin B. John (maxinbjohn)
	pushTag = group user/Maxin B. John (maxinbjohn)
	pushSignedTag = group user/Maxin B. John (maxinbjohn)
